<div>
  <form class="form-container" #loginForm="ngForm">
   <!-- templatedriven form -->
    <h1>Login</h1><br>
    <div>
      <p>login Your account</p><br>
      <input type="text" placeholder="username*" ngModel #userName="ngModel" name="userName" required autocomplete="off"><br>
      <span *ngIf="userName?.errors?.['required'] && userName.touched "class="error">Username is required</span><br><br>
      

      <input type="password" placeholder="password*" ngModel #password="ngModel" name="pass" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,12}$"><br>
      <span *ngIf="password.errors?.['required'] && password.touched " class="error">Password is required</span>
      <span *ngIf="password.errors?.['pattern']" class="error">Pattern not match</span>
    </div>
    
      <button (click)="submit(loginForm.value)" class="login-button" [disabled]="!loginForm.valid">Login</button><br>
      <div>
        Not an account? Create Account.
      </div>

    </form>

</div>
