<div>
  <form class="form-container" #loginForm="ngForm">
   <!-- templatedriven form -->
    <h1>Login</h1><br>
    <div>
      <p>login Your account</p><br>
      <input type="text" placeholder="username" ngModel name="username" ><br><br>
      <input type="password" placeholder="password" ngModel name="pass"><br><br>
    </div>
    <div>
      Not an account? Create Account
    </div><br><br>
      <button (click)="submit(loginForm.value)" class="login-button">Login</button><br>

    </form>

</div>
