<p>home works!</p>
<a routerLink="/about-us">about-a-tag</a>
<p routerLink="/about-us">p-about tag</p>

<a routerLink="/contact-us">contactus a-element</a>

<p routerLink="/projects"> projects </p>
<button routerLink="/data-transmission" class="btn primary">dataTransmission</button>
<button routerLink="/parent">parent</button>
<button routerLink="/subject">subject</button>
<button routerLink="/directives">directives</button>
<button routerLink="/pipes">pipes</button>
<button routerLink="/table">table</button>
<button routerLink="/loginform">loginform</button>
