
<router-outlet></router-outlet>
<div>
<button routerLink="form1">form1</button>
<button routerLink="form2">form2</button>
<button routerLink="form3">form3</button>
<button routerLink="form4">form4</button>
<button routerLink="form5">form5</button>
<button routerLink="form6">form6</button>
<button routerLink="form7">form7</button>
<button routerLink="form8">form8</button>
<button routerLink="form9">form9</button>
<button routerLink="form10">form10</button>
<button routerLink="form11">form11</button>
<button routerLink="form12">form12</button>
<button routerLink="form13">form13</button>
<button routerLink="form14">form14</button>
<button routerLink="form15">form15</button>
<button routerLink="form16">form16</button>
<button routerLink="studentReactive">student-reactive</button>
</div>
